<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <style>
        .center {
            margin: 0 auto;
            width: 100%;
        }
    </style>
    <title></title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>리얼 여행 커뮤니티 <small>한 방에 해결하는 여행 준비!</small> <a href="#" style="float: right; margin:0px 30px 0px 0px; font-size: 25px;">로그인</a></h1>
            </div>
        </div>
        <div class="row center">
            <ul class="nav nav-pills">
                <li role="presentation" class="active" style='width:130px; text-align:center; margin: 5px 5px 20px 5px';><a href="{% url 'korea' %}">한국</a></li>
                <li role="presentation"><a href="{% url 'east_asia' %}" style='width:130px; text-align:center; margin: 5px 5px 20px 5px'>동남아</a></li>
                <li role="presentation"><a href="{% url 'europe' %}" style='width:130px; text-align:center; margin: 5px 5px 20px 5px'>유럽</a></li>
                <li role="presentation"><a href="{% url 'north_america' %}" style='width:130px; text-align:center; margin: 5px 5px 20px 5px'>북미</a></li>
                <li role="presentation"><a href="{% url 'south_america' %}" style='width:130px; text-align:center; margin: 5px 5px 20px 5px'>남미</a></li>
                <li role="presentation"><a href="{% url 'austrailia' %}" style='width:130px; text-align:center; margin: 5px 5px 20px 5px'>호주</a></li>
                <li role="presentation"><a href="{% url 'africa' %}" style='width:130px; text-align:center; margin: 5px 5px 20px 5px'>아프리카</a></li>
                <li role="presentation"><a href="{% url 'freeboard' %}" style='width:130px; text-align:center; margin: 5px 5px 20px 5px'>자유게시판</a></li>
            </ul>

        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="row">

                    <div class="col-sm-11 col-md-11">
                        <div class="col-sm-4 col-md-4">
                            <span class="label label-default">Default</span>
                            <div class="thumbnail" style="height:230px;">
                                <img src="asdasd.png" alt="...">
                                <div class="caption">
                                    <p>게시글 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <span class="label label-default">Default</span>
                            <div class="thumbnail" style="height:230px;">
                                <img src="asdasd.png" alt="...">
                                <div class="caption">
                                    <p>게시글 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <span class="label label-default">Default</span>
                            <div class="thumbnail" style="height:230px;">
                                <img src="asdasd.png" alt="...">
                                <div class="caption">
                                    <p>게시글 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <span class="label label-default">Default</span>
                            <div class="thumbnail" style="height:230px;">
                                <img src="asdasd.png" alt="...">
                                <div class="caption">
                                    <p>게시글 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <span class="label label-default">Default</span>
                            <div class="thumbnail" style="height:230px;">
                                <img src="asdasd.png" alt="...">
                                <div class="caption">
                                    <p>게시글 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <span class="label label-default">Default</span>
                            <div class="thumbnail" style="height:230px;">
                                <img src="asdasd.png" alt="...">
                                <div class="caption">
                                    <p>게시글 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <span class="label label-default">Default</span>
                            <div class="thumbnail" style="height:230px;">
                                <img src="asdasd.png" alt="...">
                                <div class="caption">
                                    <p>게시글 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <span class="label label-default">Default</span>
                            <div class="thumbnail" style="height:230px;">
                                <img src="asdasd.png" alt="...">
                                <div class="caption">
                                    <p>게시글 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <span class="label label-default">Default</span>
                            <div class="thumbnail" style="height:230px;">
                                <img src="asdasd.png" alt="...">
                                <div class="caption">
                                    <p>게시글 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <span class="label label-default">데일리 평점순</span>
                            <div class="thumbnail" style="height:200px;">
                                <div class="caption">
                                    <p>데일리 평점순</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <span class="label label-default">데일리 추천순</span>
                            <div class="thumbnail" style="height:200px;">
                                <div class="caption">
                                    <p>데일리 추천순</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <span class="label label-default">데일리 댓글순</span>
                            <div class="thumbnail" style="height:200px;">
                                <div class="caption">
                                    <p>데일리 댓글순</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-1 col-md-1 pull-right">
                        <span class="label label-default">세로광고</span>
                        <div class="panel panel-default">
                            <div class="panel-body" style="height:1000px;font-size:10px;">
                                세로광고연결 / 이거 길이 자동 조절되게끔 설정 필요할듯
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6">
                        <span class="label label-default">가로광고</span>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                가로광고 연결
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6">
                        <span class="label label-default">가로광고</span>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                가로광고 연결
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
    </div>
</body>

</html>
