<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <style>
        .center {
            margin: 0 auto;
            width: 100%;
        }
    </style>
    <title></title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>Example page header <small>Subtext for header</small> <a href="#" style="float: right; margin:0px 30px 0px 0px;">Log in</a></h1>
            </div>
        </div>
        <div class="row center">
            <ul class="nav nav-pills">
                <li role="presentation" class="active" style='width:260px; text-align:center; margin: 5px 5px 20px 5px' ;><a href="#">menu1</a></li>
                <li role="presentation"><a href="#" style='width:260px; text-align:center; margin: 5px 5px 20px 5px'>menu2</a></li>
                <li role="presentation"><a href="#" style='width:260px; text-align:center; margin: 5px 5px 20px 5px'>menu3</a></li>
                <li role="presentation"><a href="#" style='width:260px; text-align:center; margin: 5px 5px 20px 5px'>menu4</a></li>
            </ul>

        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="row">


                    <div class="col-sm-11 col-md-11">


                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <form method="POST" action="#" role="form">
                                    <div class="form-group">
                                        <h2>Create account</h2>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="signupName">Your name</label>
                                        <input id="signupName" type="text" maxlength="50" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="signupEmail">Email</label>
                                        <input id="signupEmail" type="email" maxlength="50" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="signupEmailagain">Email again</label>
                                        <input id="signupEmailagain" type="email" maxlength="50" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="signupPassword">Password</label>
                                        <input id="signupPassword" type="password" maxlength="25" class="form-control" placeholder="at least 6 characters" length="40">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="signupPasswordagain">Password again</label>
                                        <input id="signupPasswordagain" type="password" maxlength="25" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <button id="signupSubmit" type="submit" class="btn btn-info btn-block">Create your account</button>
                                    </div>
                                    <p class="form-group">By creating an account, you agree to our <a href="#">Terms of Use</a> and our <a href="#">Privacy Policy</a>.</p>
                                    <hr>
                                    <p></p>Already have an account? <a href="#">Sign in</a></p>
                                </form>
                            </div>


                        </div>


                    </div>



                    <div class="col-sm-1 col-md-1 pull-right">
                        <span class="label label-default">Default</span>
                        <div class="panel panel-default">
                            <div class="panel-body" style="height:590px;font-size:10px;">
                                Basic panel example
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 col-md-6">
                        <span class="label label-default">Default</span>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Basic panel example
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6">
                        <span class="label label-default">Default</span>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Basic panel example
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
    </div>
</body>

</html>
